<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operator</title>
  </head>
  <body>
    <!-- 
    Operator Terdiri dari 3 :
    1. binary -> operand1 operator operand2 (2 < 4)
        - aritmatika
        - penugasan
        - perbandingan
        - logika
        - string
    2. tenary -> operator operand1 atau operand1 operator
        - kondisional
    3. unary -> membutuhkan 3 operand
        - typeof 

    --Lanjut ke javascript..
    -->
  </body>
</html>
