<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <canvas id="mycanvas"></canvas>
    <script>
      //Menyiapkan canvas
      const Mycanvas = document.getElementById("mycanvas");

      //Atur ukuran Canvas
      Mycanvas.width = window.innerWidth;
      Mycanvas.height = window.innerHeight;

      //Tentukan context
      const c = Mycanvas.getContext("2d");

      //Membuat Rectangle
      c.fillStyle = "pink";
      c.strokeStyle = "#999";
      c.lineWidth = "5";

      c.rect(50, 50, 300, 300);

      c.fill;
    </script>
  </body>
</html>
