<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hyperlink</title>
  </head>
  <body>
    <h2>
      Learning about <a href="https://reactjs.org/">Hyperlink</a> secara
      external link
    </h2>
    <h2>
      Learning about <a href="list.html">Hyperlinks</a> secara internal link
    </h2>
    <p style="color: red">
      Jika berbeda folder tuliskan url folder nya dan ../ untuk naik 1 folder
    </p>

    <ul>
      <li>ini menggunakan Anchor <a href="#anchor1">klik</a></li>
      <li>
        bisa juga jika ingin ke page lain dan ke anchor tertentu
        <a href="list.html#anchor1">klik</a>
      </li>
    </ul>

    <p>
      ini jika ingin membuka tab baru ada _self _blank _parent _top, dibawah ini
      mengunkan _blank
      <a target="_blank" href="https://reactjs.org/">Klik</a>
    </p>

    <h3>Ini jika link menggunkan gambar</h3>
    <a target="_blank" href="https://reactjs.org/"
      ><img width="100" src="../../picture/png/click.png" />
    </a>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <h2 id="anchor1">Anchor</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      possimus tempora quia? Sunt, enim laudantium ullam aperiam quisquam quas
      officia dignissimos? Exercitationem molestiae ad aliquam architecto earum,
      delectus mollitia quos? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Repudiandae nemo incidunt non quasi, illo quae maxime ex quod
      quaerat, blanditiis at esse distinctio error odio quia velit repellat
      iusto tenetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Ea itaque omnis illum saepe officiis delectus facere asperiores. Nulla qui
      quam cupiditate voluptates, non minima natus veritatis ex soluta, eligendi
      doloremque.
    </p>
  </body>
</html>
