body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}

#navigation {
  margin-bottom: 2rem;
  background-color: aqua;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid rgb(225, 224, 224);
  padding: 1rem;
  min-height: 400px;
  overflow: auto;
  max-height: 250px;
  white-space: nowrap;
}

button {
  min-width: 80px;
}

/* -------------------------------------------Batas CSS Default------------------------------------------- */

.dimensi {
  width: 200px;
  height: 300px;
  background-color: aqua;
  overflow: auto;
  display: inline-block;
}
